.calendar {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
}

.ts-light .calendar > div{
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
}

.ts-dark .calendar {
	background-color: #aaa;
}

.ts-dark .calendar > div{
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,1);
}

.monthlist {
	width:100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

.monthlist li {
	cursor: pointer;
	padding: 2px 8px 2px 8px;
	margin: 2px;
	float: left;
	box-shadow: 0px 0px 5px 0px #000;
	
}

.monthname, .yearcaption {
	display: block;
	text-align: center;
	width: calc(100% - 40px);
	float: left;
	cursor: pointer;
}

.yeartextbox {
	border: 0px none;
	outline: 0px none;
	text-align: center;
	width: calc(100% - 40px);
	float: left;
	cursor: pointer;
}

.ts-light .monthname:hover, .ts-light .yearcaption:hover {
	background-color: #eee;
}

.ts-dark .monthname:hover, .ts-dark .yearcaption:hover {
	background-color: #000;
}

.monthpreviousbtn, .yearpreviousbtn {
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
}

.monthpreviousbtn, .yearpreviousbtn,
.monthnextbtn, .yearnextbtn { text-align: center; }

.monthpreviousbtn:after, .yearpreviousbtn:after { content: "<"; }

.monthnextbtn:after, .yearnextbtn:after { content: ">"; }

.monthpreviousbtn:hover, .yearpreviousbtn:hover,
.monthnextbtn:hover, .yearnextbtn:hover {
	background-color: #aaa;
}

.monthnextbtn, .yearnextbtn {
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}

.ts-light .monthpreviousbtn, .ts-light .yearpreviousbtn,
.ts-light .monthnextbtn, .ts-light .yearnextbtn {
	background-color: #000;
	color: #fff;
}

.ts-dark .monthpreviousbtn, .ts-dark .yearpreviousbtn,
.ts-dark .monthnextbtn, .ts-dark .yearnextbtn{
	background-color: #eee;
	color: #000;
}

.ts-light .monthdays { color: #000; }
.ts-dark .monthdays { color: #eee; }

.weeknumber { text-align: center; }

.monthdays > div {
	cursor: pointer;
	text-align : center;
}

.ts-light .monthdays > div:hover { background-color: #eee; }

.ts-dark .monthdays > div:hover { background-color: #111; }

.ts-light .previousmonthday { color: #aaa; }

.ts-dark .previousmonthday { color: #555; }

.ts-light .nextmonthday { color: #aaa; }

.ts-dark .nextmonthday { color: #555; }

.today { font-weight: bold; }

.monthdays > .selected {
	border-collapse: collapse;
	margin: -1px;
	border-radius: 25px;
}

.ts-light .monthdays > .selected { border: 1px solid #000; }
.ts-dark .monthdays > .selected { border: 1px solid #eee; }
